body{
    text-align: center;
    background-color: #333;
    font-size: xx-large;
    color: wheat;
}
#clickButton{
    background-color: orange;
color: white;
font-size: xx-large;
font-weight: bolder;

}
.container{
    background-color: #333;
    animation-name: btnani;
animation-duration: 10s;
}
.right{
    width: 150px;
    height: auto;  
    margin-left: 50%;
  justify-content: start;
}
.left{
    margin-right: 50%;
}

@keyframes btnani {
    from {background-color: #333;}
    to {background-color: rgb(105, 105, 105);}
  }